*{
text-align: center;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(207, 217, 133);
}

a{
font-size: 125%;
margin: 10px;
color: rgb(24, 116, 25);
text-decoration: none;
}

.Nomedosite{
font-size: 300%;
text-decoration:underline rgb(24, 116, 25);;
}

img{
border: 5px groove rgb(24, 116, 25);
margin: 10px;
}

.Noticias{
font-size: 150%;
}